<!-- footer -->
<footer style="background: rgba(0,0,0, 0.473) url('/assets/images/backgrounds/city2.jpg') no-repeat scroll; background-size:cover; background-position: center; background-attachment: fixed; height: 100%" class="footer-section">
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div style="background: #fff; border-radius: 15px; border-bottom: 3px solid $primary-color; border-top: 3px solid $primary-color; height: 200px; margin-bottom: 10px; padding: 10px 10px 10px 10px">
            <h4 style="text-align: center; color: $primary-color">Kontak</h4>
            <p style="font-size: 1rem" class="text-dark paragraph-lg font-secondary">
              Email: {{ site.data.settings.email }}<br />HP: {{ site.data.settings.phone }}<br />Telegram:<a href="https://t.me/082340501509"> 082340501509</a><br />WA: <a href="https://wa.me/082340501509">082340501509</a><br />Instagram:
              <a href="https://www.instagram.com/dotcomp.studio">@dotcomp.studio</a>
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div style="background: #fff; border-radius: 15px; border-bottom: 3px solid $primary-color; border-top: 3px solid $primary-color; height: 200px; margin-bottom: 10px; padding: 10px 10px 10px 10px">
            <h4 style="text-align: center; color: $primary-color">Services</h4>
            <p style="font-size: 1rem" class="text-dark paragraph-lg font-secondary">
              1. Installasi Windows, Linux, Ubuntu<br />2. PC Bulid & Mintenance<br />3. Software Installation<br />
              4. Design UI/UX Web & APP<br />5. Website & Blog Bulid And Design
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div style="background: #fff; border-radius: 15px; border-bottom: 3px solid $primary-color; border-top: 3px solid $primary-color; height: 200px; margin-bottom: 10px; padding: 10px 10px 10px 10px">
            <h4 style="text-align: center; color: $primary-color">Address / Alamat</h4>
            <p style="font-size: 1rem" class="text-dark paragraph-lg font-secondary">{{ site.data.settings.address }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <img style="margin-bottom: -28px" class="img-fluid w-100" src="{{ site.baseurl }}/assets/images/illustrations/wave-biru.svg" alt="bg-shape" />
  <div style="height: 20px; width: 100%; background: $primary-color" class="text-center border-dark">
    <a style="color: #fff">{{site.data.settings.copyright | markdownify}}</a>
  </div>
</footer>
<!-- /footer -->

<!-- JS Plugins -->
{% for js in site.data.plugins.js %}
<script src="{{ js | relative_url }}"></script>
{% endfor %}

<!-- Main Script -->
<script src="{{ '/assets/js/script.js' | relative_url }}"></script>
